.p1 {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 25px;
  color: rgb(255, 47, 47);
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
}
.p2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    color: purple;
    text-align: center;
}
p {
  font-size: 20px;
  color: rgb(184, 51, 11);
  text-transform: uppercase;
}
body
{
  font-size: 30px;
}